<#
    Session["ResourceFile"] = "SingleStoreJsonStrings.resx";
    Session["LoggingDefinitionsClass"] = "SingleStoreJsonLoggingDefinitions";
    Session["NoDiagnostics"] = true;
#>
<#@ include file="..\..\..\tools\Resources.tt" #>