<#
    Session["ResourceFile"] = "SingleStoreNTSStrings.resx";
    Session["LoggingDefinitionsClass"] = "SingleStoreNtsLoggingDefinitions";
    Session["NoDiagnostics"] = true;
#>
<#@ include file="..\..\..\tools\Resources.tt" #>